h1 {
    font-family: Arial, Verdana, sans-serif;
    font-size: 6em;
    font-weight: 100;
    margin: 0.7em;
    margin-top: 0.4em;
    margin-bottom: 0em;
    color: rgb(198,217,241);
}

img {
    border: 2px solid rgb(140,175,218);
    margin-left: 7.5em;
    margin-bottom: 0.5em;
    width: 34%;
    height: auto;
}

figcaption {
    font-family: Arial, Verdana, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 3.4em;
}

table {
    margin: 7em;
    margin-top: 2em;
    font-size: 1em;
}

.berry {
    font-size: 2em;
    font-style: normal;
}

.berry1 {
    font-family: Arial, Verdana, sans-serif;
    font-style: italic;
    border-top: 1px solid black;
    padding: 1em;
    background-color:  rgb(198,217,241);
    text-align: center;
}

.berry2 {
    font-family: Arial, Verdana, sans-serif;
    font-style: italic;
    border-top: 1px solid black;
    padding: 1em;
    background-color:  rgb(253,233,217);
    text-align: center;
}

.berry3 {
    font-family: Arial, Verdana, sans-serif;
    font-style: italic;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1em;
    background-color:  rgb(217,149,148);
    text-align: center;
}
