p {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

table, caption {
    border: 1px solid;
}

th {
    font-size: 1.3em;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background: red;
}

td {
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;    
}
    
#unique {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.line {
    font-weight: bold;
    border-right: 1px solid;
}
    
.background {
    background-color: rgb(220,220,220);
}
