body {
    font-family: Arial, Verdana, sans-serif;
}

p {
    color: blue;
}

h1.alert {
    font-size: 3em;
}

.alert {
    color: red;
}

#unique {
    font-size: 0.8em;
}

.underline {
    text-decoration: underline;
}

ul {
    font-size: 0.8em;
    border-style: hidden;
    background-color: rgb(240,240,240);
}
