body {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(239,221,111);
}

h1, h2 {
    color: rgba(65,105,225,0.7);
    font-weight: bold;
    font-size: 2.0em;
}

p {
    text-indent: 50px;
}

p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}

ul, ol {
    font-size: 0.8em;
    border: 2px;
    border-style: solid;
    border-color: black;
    color: gray;
    text-indent: 50px;
}

figure {
    font-size: 0.6em;
    font-weight: bold;
}

figure img {
    width: 20%;
    height: auto;
}

.copyright_notice {
    font-size: 0.8em;
}

#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}