h1 {
    font-family: Arial, Verdana, sans-serif;
    font-size: 4em;
    font-weight: 100;
    margin: 0.7em;
    margin-top: 0.4em;
    margin-bottom: 0em;
    color: rgb(217,149,148);
}

fieldset {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(198,217,241);
}